.SignUpContainer{
    width: 380px;
    margin-top: 70px;
    height: 650px;
    background-color: #FBFBFB;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signUp{
    font-size: 23px;
    font-weight: 500;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signUpBtn{
    width: 320px;
}
.signUpWith{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socnetwork{
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}