.header {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07) ;
    background-color: white;
    z-index: 1;
}
.onlyIconHeader{
    width: 80%;
    height: 70px;
    position: fixed;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07) ;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuSec {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menuSec:hover{
    background-color: #E8EBF0;
    transition: all 800ms ease;
}
.logoSec {
    width: 13%;
    height: 90%;
    cursor: pointer;
    position: relative;
}

.inputSec {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_help_diller_Sec {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dillerSec {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.dillerSec:hover{
    background-color: #E8EBF0;
    transition: all 800ms ease;
}
.helpSec {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.helpSec:hover{
    background-color: #E8EBF0;
    transition: all 800ms ease;
}

.NotLoggedInAccountSec{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 100%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.NotLoggedInAccountSec:hover {
    background-color: #E8EBF0;
    transition: all 800ms ease;
}

.LoggedInAccountSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.LoggedInAccountSec:hover{
    background-color: #E8EBF0;
    transition: all 800ms ease;
}

.SignInBtn{
    width: 70%;
}

.SignInBtn{
    width: auto;
}

.accountSec:hover{
    background-color: #E8EBF0;
    transition: all 800ms ease;
}
.soldSec {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}