.modal_backdrop_left{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255,0.5) ;
    position: absolute;
}
.modal_backdrop_right{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255,0.5) ;
    position: absolute;
    display: flex;
    justify-content: end;
}
.modal{
    width: 20%;
    height: 100vh;
    background-color: aqua;
}