.carCard{
   display: flex;
   flex-wrap:wrap;
   gap: 1px;
   width: 200px;
   height: 210px;
   border: 2px solid rgb(78, 75, 75);
   opacity: 1;
   box-shadow: 5px 5px 5px rgb(68, 68, 68);
   border-radius: 5px;
}

.imgContainer{
    width: 100px;
    height: 60%;
}
.name {
    color: blue;
    margin: 5px;
}

.yearPrice {
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 20px;
    margin: 10px;
}

.carCard:hover{
    opacity: 0.9;
}