.carCard{
   display: flex;
   flex-wrap:wrap;
   gap: 1px;
   width: 200px;
   height: 240px;
   border: 1px solid rgb(78, 75, 75);
   opacity: 1;
   background-color: rgba(67, 142, 172, 0.078);
   border-radius: 7%;
   cursor: pointer;
   transition: .5s;
}

.SingleCarLink{
    text-decoration: none;
    color: black;
}

.SingleCarLink :hover{
    z-index: 1;
    box-shadow: 0 8px 16px #1314161f;
    border-radius: 8px;
    background-color: rgba(67, 142, 172, 0.078);
    border: none;
    transform: scale(1.05);
}

.imgContainer{
    width: 95%;
    height: 70%;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

.saveBtn{
    z-index: 1000;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(222, 219, 219, 0.285);
}

.img{
    border-radius: 7%;
}

.name {
    color: blue;
    margin-left: 5px;
}

.yearPrice {
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 15px;
    margin-left: 6px;
    margin-right: 6px;
}

.carCard:hover{
    opacity: 0.9;
}