.main {
    width: 80%;
    min-height: 600px;
}

.topAnnouncements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    gap: 80px;
    margin-bottom: 50px;
}

.urgentSale {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    gap: 80px;
    margin-bottom: 50px;

}

.dealersOffers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    gap: 80px;
    margin-bottom: 50px;
}

.carsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 150%;
}