*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative;
    justify-content: space-between;
}
.main{
    margin-top: 80px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.overflovHidden{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #1976D2;
    border-radius: 4px;
}
