.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 30px;
}

.mainCarInfo {
    width: 100%;
    height: 150px;
    background-color: rgb(250, 243, 235);
    padding: 20px;
    border-radius: 10px;
}

.carContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    width: 30%;
    height: 250px;
}

.carInfo {
    width: 50%;
    height: 100%
}

.contactContainer {
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
}

.userAvatar {
    width: 30%;
    height: 100%;
}

.contactBtn {
    width: 70%;
    height: 100%;
}